<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <h1>NOTAS</h1>
    <form id="edit" action="/edit" method="post">
      <input name="title" id="title" type="text" value="<%= currentNote.title %>">           
      <input name="text" id="text" type="text" value="<%= currentNote.body %>">      
    </form>
    <div id="allNotes">
    <% for(let i=0;i<notas.length;i++) { %>
      <a class="notas" href="/notes/<%= notas[i]._id %>"><h2><%= notas[i].title %></h2><p><%= notas[i].body %></p></a> 
    <% } %>
    </div>                   
    <script src="static/app.js"></script>
  </body>
</html>